// 是否编译 grid
$enable-grid: true !default;
// 是否允许 grid 的媒体查询(即断点机制)
$enable-grid-media-query: false !default;

// 容器断点对应的最大宽度
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);

// 容器断点
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

// 槽宽
$grid-gutter-width: 0px !default;

// 默认的一行最多分成多少列
$grid-columns: 12 !default;

// 一行最多能够容纳多少列
$grid-row-columns: 6 !default;